<h1>Home Page</h1>
<link href="~/Content/Home.css" type="text/css" rel="stylesheet" />
<div style="width:100%;">
	<div class="SectionDiv LeftFeatured"></div>
	<div class="SectionDiv CenterFeatured"></div>
	<div class="SectionDiv RightFeatured"></div>
</div>
<div class="BottomFeatured">
    <span id="t" class="Shadow">The</span>
    <span id="r" class="Shadow">Raging</span>
    <span id="buttafuoco" class="Shadow">Buttafuocos</span>
</div>